# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2
print(add_two(3))

5

In [2]:
lambda x: x+2

(lambda x: x+2)(3)

5

#### Saving to a Variable

In [3]:
f = lambda x, y: x+y+2

print(f(2,3))

7

#### Multiple Inputs

In [6]:
(lambda x, y, z: x*y*z)(3,5,8)

120

#### Passing a Lambda into a Function

In [8]:
def do_math(func, num):
    return func(num)

        # 'lambda' takes over the value of func
do_math(lambda x: x*x, 4)

16

#### Returning a Lambda from a Function

In [11]:
# a function to return a function #

def my_func():
    return "jello"

print(my_func())
print(type(my_func()))

<class 'str'>
jello

In [14]:
def return_func():
    def squared(num):
        return num*num
    def divide(num):
        return num/num
    return squared # without () it is an unexecuted

print(return_func()(3))

9

In [15]:
# Function inside of function: b = 3, c = 2 & then the lambda func takes in 2 parameters

def return_lamb(b,c):
    return lambda x,y: (b+c)-(x+y)

print(return_lamb(3,2)(4,3))

-2

#### If Statements within Lambdas

In [16]:
#Lambda x : True if (condition) else false
# Ternary Operator in Python (inline 'if' statement)

f = lambda num: num*2 if num > 10 else num + 2

#f is our function

f(12)

24

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [20]:
f = lambda x: x**3
f(3)

27

In [21]:
#get good at reading Documentation because this is your lifelinealso
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [22]:
#Using Lambdas with sort to sort a list of dictionary by a key from highest to smallest
# sorted() --> Out-of-Place Algo
sorted([2,23425,252342,2345,64], reverse =True)

[252342, 23425, 2345, 64, 2]

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [23]:
# map(func,iterable(list,dict,tuple,set,etc...))
# Normally the usage of map happens with a pre-defined function -- but can use lambdas as well
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [25]:
def sqaured(num, num2):
    if num < 10 and num2 < 10:
        return num**2, num2**2
    else:
        return num, num2
    
numbers = [4,10,3,2,6]
more_nums = [4,1,20,3,15]
                        #Function, iterables, iterabls
squared_nums_map = map(sqaured,numbers,more_nums)
print(squared_nums_map)
# Map object is iterable and be converted into a list
print(list(squared_nums_map))

<map object at 0x7f8a785ffaf0>
[(16, 16), (10, 1), (3, 20), (4, 9), (6, 15)]

#### Using Lambda's with Map

In [26]:
# map(Lambda x+2,list)
# using Lambda in map happens in line (or in one line)
# list(map(lambda x: x*2,nums))
# have to convert to list to see map
numbers = [4,10,3,2,6]

squared_nums = list(map((lambda x: x**2 if x < 10 else x), numbers))
print(squared_nums)

[16, 10, 9, 4, 36]

In [31]:
## Homework hint: (x**2, y**2) <-- put these in parentheses

numbers = [4,10,3,2,6]
more_nums = [4,1,20,3,15]

squared_nums = list(map((lambda x,y: (x**2, y**2) if x < 10 and y < 10 else (x,y)), numbers, more_nums))
print(squared_nums)

[(16, 16), (10, 1), (3, 20), (4, 9), (6, 15)]

In [39]:
# Using lambdas to sort a list of dict by a key from highest to lowest

k = {
    "name": 'Kyle',
    "age": 12
}

t = {
    "name": "Kevin",
    "age": 120
}

p = {
    "name": "Patrick",
    "age": 27
}

people = [k,t,p]
print(people)

my_lambda = lambda person_dict: person_dict['age']
print(sorted(people, key=my_lambda))
print(sorted(people, key=my_lambda, reverse=True))

[{'name': 'Kyle', 'age': 12}, {'name': 'Kevin', 'age': 120}, {'name': 'Patrick', 'age': 27}]
[{'name': 'Kyle', 'age': 12}, {'name': 'Patrick', 'age': 27}, {'name': 'Kevin', 'age': 120}]
[{'name': 'Kevin', 'age': 120}, {'name': 'Patrick', 'age': 27}, {'name': 'Kyle', 'age': 12}]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [42]:
# map fun
# double each num
# minus it by one in the list
# use lambda function

nums = [4,2,6,8]
# [7,3,11,15]
double_nums = list(map((lambda x: (x*2) - 1), nums)) # , at the end tells which list to map over

print(double_nums)

[7, 3, 11, 15]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [43]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [44]:
# This filters out all of the Falses (fiter_function)

list(filter(None, [True, True, False]))

[True, True]

In [45]:
names = ["Dak", "Ramika", "Armani", "KU", "Gareth", "Kyle", "Kevin"]

# Want to filter this list for names that start with a "K"

def k_names(name):
    if name[0].lower() == 'k':
        return True
    else:
        return False

new_names_list = list(filter(k_names, names))
new_names_list

['KU', 'Kyle', 'Kevin']

#### Using Lambda's with Filter()

In [50]:
new_names_lamb = list(filter((lambda name: True if name[0].lower() == 'k' else False),names))
print(new_names_lamb)

['KU', 'Kyle', 'Kevin']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [52]:
from statistics import mean

list1 = [4,5,6,3,7,2,8]
new_list = list(filter((lambda num:True if num<mean(list1) else False), list1))
print(new_list)

[4, 3, 2]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [53]:
from functools import reduce
# reduce(function,iterable)
# this will reduce an iterable into 1 thing
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [56]:
# Aggrigator
list1 = [2,4,6,8,10]

#-------------num1 is aggrigator (running total)----##
#-------------num2 is taking in the number from the list--##
def subtract_nums(num1, num2):
    return num1 - num2

result = reduce(subtract_nums, list1)
result

-26

#### Using Lambda's with Reduce()

In [58]:
l3 = [1,10,2,30]

results_lamb = reduce((lambda num1, num2: num1 - num2), l3)
results_lamb

-41

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [59]:
num_list = [2,2,2]

solution = reduce((lambda num1, num2: num1 * num2), num_list)
solution

8

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [62]:
def recursive(i):
    print("Hi")
    if i == 4: # Base Case 
        return
    else:
        i += 1
        recursive(i)
    
recursive(0)

Hi

#### Implementing a Base Case

In [65]:
def add_nums(num):
    # Set base case
    if num <= 1:
        print("add_nums(1) = 1")
        return num
    else:
        print(f"add_nums({num}) = {num} + add_nums({num-1})")
        x = num - 1
        return num + add_nums(x)
    
add_nums(5)

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1

15

#### Writing a Factorial Function

In [66]:
# 5! = 5*4*3*2*1

def factorial(num):
    if num <= 1: #set base case
        print("factorial(1) = 1")
        return 1
    else:
        print(f"factorial({num}) = {num} * factorial({num-1})")
        return num*factorial(num-1)
    
factorial(10)

factorial(10) = 10 * factorial(9)
factorial(9) = 9 * factorial(8)
factorial(8) = 8 * factorial(7)
factorial(7) = 7 * factorial(6)
factorial(6) = 6 * factorial(5)
factorial(5) = 5 * factorial(4)
factorial(4) = 4 * factorial(3)
factorial(3) = 3 * factorial(2)
factorial(2) = 2 * factorial(1)
factorial(1) = 1

3628800

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [72]:
def mintorial(num):
    if num <=1:
        return 1
    else:
        return num-mintorial(num-1)
    
mintorial(30)

15

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [1]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

new_places = list(filter(lambda place: place.strip() != " ", places))
#Couldn't figure out how to remove the other spaces
# Tried using strip method, remove method. 

print(new_places)

[' ', 'Argentina', ' ', 'San Diego', '', '  ', '', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [283]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

def sort_names(author):
    author.sort(key=lambda name: name.split(" ")[-1].lower())
    return author

print(sort_names(author))

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [316]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

F = list(map(lambda x: (9/5) * x + 32, places))
print(F)

# Not sure what this error is. I'm assuming it's cause it's going over the list and can't perform math ops on string values

TypeError: can't multiply sequence by non-int of type 'float'

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [221]:
nterms = 7

def recur_fibonacci(n):
   if n <= 1:
       return n
   else:
       return(recur_fibonacci(n-1) + recur_fibonacci(n-2))

if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibonacci(i))

Fibonacci sequence:
0
1
1
2
3
5
8